/*
    sass --watch public/css/app.scss:public/css/style
*/
// ==== BG ==== 
$bg-light: #FAFAFA;
$bg-medium : #6E7D8C;
$bg-dark:#585D62 ; 


// ==== FONTS COLORS ====
$dark-text: #2B3036;
$normal-text:#414A53; 
$light-text:#818F9C; 

// ==== COSMETICS ====
$primary: #0C7FF3;
$primary25: #0c7ff321;
$alert:#C83F3F;
$alert25:#c83f3f21;
$border:#EBEBEB;


// ==== TOOLS ====


// ==== GENERIC ====


// ==== MODULES ====


// ==== VIEWS ====