/*
    sass --watch public/css/app.scss:public/css/style.css
*/
:root {
	--container-padding: 20px;
	--container-width: calc(100vw - var(--container-padding) * 2);
	// ==== BG ====
	--bg-card: #1E2552;
	--bg-light : #1A1F42;
	--bg-dark:#151938 ;

	// ==== FONTS COLORS ====
	--muted-text: #8893C4;
	--text:#D4DCFF;
	--bright-text:#EBF1FF;

	// ==== COSMETICS ====
	--primary_b: #A3FCFF;
	--primary_b25: rgba(163, 252, 255, 0.12);
	--primary_o:#FF883D;
	--primary_o25:rgba(255, 136, 61, 0.12);
	--alert:#C83F3F;
	--alert25:#c83f3f21;
	--success:#41CF7C;
	--success25: rgba(65, 207, 124, 0.13);
	--border:#282F5C;
	--shadow: 10px 10px 3px -7px rgba(0, 0, 0, 0.25);

	// == Spaces ==
	--gap:24px;
	--space:8px;
	--space-section:160px;
	--card-padding:16px;
	--page-height:calc(100Vh - 120px);
}

// === scrollBar ===
::-webkit-scrollbar{width: 13.5px;}
::-webkit-scrollbar-thumb{height: 7px;background: var(--border) ;border: 3px solid transparent;border-radius: var(--space);background-clip: content-box;}
::-webkit-scrollbar-corner {background: var(--bg-light) ;}
::-webkit-resizer {background:var(--border) ;}
::-webkit-scrollbar-track {background:transparent; padding: 1px;}
html {scrollbar-width:auto;scrollbar-color: var(--border) transparent;}

// ==== Tools  ==== 
@import "tools/reset.scss";
@import "tools/mixins.scss";
@import "tools/fonts.scss";
@import "tools/layout.scss";
// @import "tools/animations.scss";

// ==== Generic ==== 
body {
	font-family: var(--font);
	font-size: 16px;
	color: var(--text);
	line-height: 1.4;
	background: var(--bg-light);
	scroll-margin: 100px 0 0 0;
	word-break: break-word;
}
body.dark {
	background:var(--bg-dark);
}
::selection {
	background: var(--primary_o);
	color: var(--bright-text);
}

// ==== Modules ====  
@import 'modules/navbar.scss';
@import 'modules/btn.scss';
@import 'modules/card.scss';
@import 'modules/footer-links.scss';
@import 'modules/alert.scss';
@import 'modules/form.scss';

// ==== Pages ====
@import 'views/home.scss';
@import 'views/article.scss';
@import 'views/admin.scss';
@import 'views/e404.scss';

