/*
    sass --watch public/css/app.scss:public/css/style.css --style=compressed
*/
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
  // ==== BG ====
  --bg-card: #1E2552;
  --bg-card-footer: #1B1F44;
  --bg-light: #1A1F42;
  --bg-dark: #151938;
  --bg-dark-secondary: #323d70;
  --bg-transparent: #1a1f42f1;

  // ==== FONTS COLORS ====
  --muted-text: #8893C4;
  --text: #D4DCFF;
  --bright-text: #EBF1FF;

  // ==== COSMETICS ====
  --primary_b: #54aae8;
  --primary_b25: rgba(163, 252, 255, 0.12);
  --primary_o: #FF883D;
  --primary_o25: rgba(255, 136, 61, 0.12);
  --alert: #C83F3F;
  --alert25: #c83f3f21;
  --success: #41CF7C;
  --success25: rgba(65, 207, 124, 0.13);
  --border: #282F5C;
  --shadow: 10px 10px 3px -7px rgba(0, 0, 0, 0.25);

  // == Spaces ==
  --gap: 24px;
  --space: 8px;
  --space-section: 160px;
  --card-padding: 16px;
  --page-height: calc(100Vh - 120px);
}

// light theme
:root {
  body.light-theme {
    //==== BG ====
    --bg-card: #FFF;
    --bg-card-footer: #d9d9dc;
    --bg-light: #e3e6e8;
    --bg-dark: #f8fbfb;
    --bg-dark-secondary: #dde2ff;
    --bg-transparent: #d7d9e8f2;
    //==== FONTS COLORS ====
    --muted-text: #121c4299;
    --text: #1A1F42;
    --bright-text: #111a3c;
    //==== COSMETICS ====
    --primary_b: #0079d1;
    --primary_b25: rgba(163, 252, 255, 0.12);
    --border: #c1c1c1;
    --shadow: 10px 10px 3px -7px rgba(0, 0, 0, 0.25);
  }
}

// === scrollBar ===
::-webkit-scrollbar {
  width: 13.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  scrollbar-width: auto;
  scrollbar-color: var(--bg-dark-secondary) transparent;
}

// ==== Tools  ==== 
@import "tools/reset.scss";
@import "tools/mixins.scss";
@import "tools/fonts.scss";
@import "tools/layout.scss";

// ==== Generic ==== 
body {
  font-family: var(--font);
  font-size: 16px;
  color: var(--text);
  line-height: 1.4;
  background: var(--bg-light);
  scroll-margin: 100px 0 0 0;
}

body.dark {
  background: var(--bg-dark);
}

::selection {
  background: var(--primary_o);
  color: var(--bright-text);
}

// ==== Modules ====
@import 'modules/loader.scss';
@import 'modules/navbar.scss';
@import 'modules/btn.scss';
@import 'modules/card.scss';
@import 'modules/footer-links.scss';
@import 'modules/alert.scss';
@import 'modules/form.scss';
@import 'modules/search.scss';
@import 'modules/footer.scss';

// ==== Views ====
@import 'views/e404.scss';
@import 'views/home.scss';
@import 'views/article.scss';
@import 'views/admin.scss';
@import 'views/guide.scss';
@import 'views/search.scss';
@import 'views/contact.scss';