/*
    sass --watch public/css/app.scss:public/css/style.css
*/
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
  --bg-card: #1E2552;
  --bg-card-footer:#1B1F44;
  --bg-light: #1A1F42;
  --bg-dark:#151938;
  --muted-text: #8893C4;
  --text:#D4DCFF;
  --bright-text:#EBF1FF;
  --primary_b: #54aae8;
  --primary_b25: rgba(163, 252, 255, 0.12);
  --primary_o:#FF883D;
  --primary_o25:rgba(255, 136, 61, 0.12);
  --alert:#C83F3F;
  --alert25:#c83f3f21;
  --success:#41CF7C;
  --success25: rgba(65, 207, 124, 0.13);
  --border:#282F5C;
  --shadow: 10px 10px 3px -7px rgba(0, 0, 0, 0.25);
  --gap:24px;
  --space:8px;
  --space-section:160px;
  --card-padding:16px;
  --page-height:calc(100Vh - 120px);
}

:root body.light-theme {
  --bg-card: #FFF;
  --bg-card-footer: #d9d9dc;
  --bg-light: #e3e6e8;
  --bg-dark: #f8fbfb;
  --muted-text: #121c4299;
  --text:#1A1F42;
  --bright-text: #111a3c;
  --primary_b: #0079d1;
  --primary_b25: rgba(163, 252, 255, 0.12);
  --border: #c1c1c1;
  --shadow: 10px 10px 3px -7px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  width: 13.5px;
}

::-webkit-scrollbar-thumb {
  height: 7px;
  background: var(--border);
  border: 3px solid transparent;
  border-radius: var(--space);
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: var(--bg-light);
}

::-webkit-resizer {
  background: var(--border);
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 1px;
}

html {
  scrollbar-width: auto;
  scrollbar-color: var(--border) transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

button {
  color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
  width: fit-content;
}

form {
  display: block;
}

select,
input {
  font-size: inherit;
  font-family: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

textarea {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  resize: none;
  border: none;
}

hr {
  height: 1px;
  background: var(--border);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0;
  border: none;
}

*:focus:not(:focus-visible) {
  outline: none;
}

code {
  display: block;
  width: 100%;
  background: var(--bg-light);
  border-radius: 8px;
  padding: 1rem 2rem;
}

blockquote {
  padding: 0 1em;
  color: var(--muted-text);
  border-left: 0.25em solid var(--border);
}

:root {
  --font: "inter";
  --font-m: "inter-m";
  --font-semi:"inter-semi";
  --font-bold:"inter-bold";
}

@font-face {
  font-family: "inter";
  src: url("fonts/Inter-Regular.eot");
  src: url("fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-Regular.woff2") format("woff2"), url("fonts/Inter-Regular.woff") format("woff"), url("fonts/Inter-Regular.ttf") format("truetype"), url("fonts/Inter-Regular.svg#Inter-Regular") format("svg");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "inter-m";
  src: url("fonts/Inter-Medium.eot");
  src: url("fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-Medium.woff2") format("woff2"), url("fonts/Inter-Medium.woff") format("woff"), url("fonts/Inter-Medium.ttf") format("truetype"), url("fonts/Inter-Medium.svg#Inter-Medium") format("svg");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "inter-semi";
  src: url("fonts/Inter-SemiBold.eot");
  src: url("fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-SemiBold.woff2") format("woff2"), url("fonts/Inter-SemiBold.woff") format("woff"), url("fonts/Inter-SemiBold.ttf") format("truetype"), url("fonts/Inter-SemiBold.svg#Inter-SemiBold") format("svg");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "inter-bold";
  src: url("fonts/Inter-Bold.eot");
  src: url("fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Inter-Bold.woff2") format("woff2"), url("fonts/Inter-Bold.woff") format("woff"), url("fonts/Inter-Bold.ttf") format("truetype"), url("fonts/Inter-Bold.svg#Inter-Bold") format("svg");
  font-weight: 700;
  font-display: swap;
}
strong {
  color: var(--primary_o);
}

.danger, .alert {
  color: var(--alert);
}

a {
  color: var(--text);
  cursor: pointer;
}

h1 {
  font-size: 45.5px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}
.big-title {
  font-family: var(--font-bold);
}

.section-title, .guide-control__title {
  font-family: var(--font-semi);
}

.medium-title {
  font-family: var(--font-m);
}

::placeholder {
  color: var(--muted-text);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--muted-text);
}

::-ms-input-placeholder {
  color: var(--muted-text);
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.bold {
  font-family: var(--font-bold);
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.danger {
  color: var(--alert);
}

.muted {
  color: var(--muted-text);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.underline {
  text-decoration: underline;
}
.underline:hover {
  color: var(--primary_b);
}

:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
  }
}
@media only screen and (min-width: 1540px) {
  :root {
    --container-padding: 20px;
    --container-width: 1500px;
  }
}
.page-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fill-page {
  min-height: var(--page-height);
  box-sizing: border-box;
}

.relative {
  position: relative;
}

.absolute, .header.is-open .header-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.page-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header, section, main, footer, nav, .container, .header, .footer, .main, form {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}

.container-404, .alert-success, .alert-danger, .container-margin, .form-card {
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.big-section, .article {
  background: var(--bg-dark);
  border-top: 1px solid var(--border);
  padding-top: calc(var(--space-section) / 2);
  padding-bottom: calc(var(--space-section) / 4);
  height: 100%;
}

@media (min-width: 700px) {
  .parent-ratio {
    width: 650px;
  }
}
.ratio {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.inline {
  display: inline;
}

.flex, .form__button, .card__header, .header {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.flex > *, .form__button > *, .card__header > *, .header > * {
  min-width: 0;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.ml-a {
  margin-left: auto;
}

.stretch {
  align-items: stretch;
}

.flex-center, .form-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.container-overflow {
  overflow: hidden;
  border-radius: 15px;
}

.w100 {
  width: 100%;
}

.grid {
  display: -moz-inline-grid;
  grid-template-columns: 1fr;
  justify-content: flex-start;
}

.grid-fit {
  display: grid;
  gap: calc(var(--gap) * 2);
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
}

.grid-fill {
  display: grid;
  gap: calc(var(--gap) * 2);
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
}

.stack, .guide, .guide-control, .article__content, .article, .post-listing .admin-card, .home-little-grid > div, form, .header.is-open .header-nav {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-gap: calc(var(--space) * 2);
}

.mla {
  margin-left: auto;
}

body .p0 {
  padding: calc(var(--space) * 0);
}
body .pt0 {
  padding-top: calc(var(--space) * 0);
}
body .pb0 {
  padding-bottom: calc(var(--space) * 0);
}
body .px0 {
  padding-left: calc(var(--space) * 0);
  padding-right: calc(var(--space) * 0);
}
body .py0 {
  padding-top: calc(var(--space) * 0);
  padding-bottom: calc(var(--space) * 0);
}
body .my0 {
  margin-top: calc(var(--space) * 0);
  margin-bottom: calc(var(--space) * 0);
}
body .m0 {
  margin: calc(var(--space) * 0);
}
body .mx0 {
  margin-left: calc(var(--space) * 0);
  margin-right: calc(var(--space) * 0);
}
body .mt0 {
  margin-top: calc(var(--space) * 0);
}
body .mb0 {
  margin-bottom: calc(var(--space) * 0);
}
body .mr0 {
  margin-right: calc(var(--space) * 0);
}
body .ml0 {
  margin-left: calc(var(--space) * 0);
}

body .p1 {
  padding: calc(var(--space) * 1);
}
body .pt1 {
  padding-top: calc(var(--space) * 1);
}
body .pb1 {
  padding-bottom: calc(var(--space) * 1);
}
body .px1 {
  padding-left: calc(var(--space) * 1);
  padding-right: calc(var(--space) * 1);
}
body .py1 {
  padding-top: calc(var(--space) * 1);
  padding-bottom: calc(var(--space) * 1);
}
body .my1 {
  margin-top: calc(var(--space) * 1);
  margin-bottom: calc(var(--space) * 1);
}
body .m1 {
  margin: calc(var(--space) * 1);
}
body .mx1 {
  margin-left: calc(var(--space) * 1);
  margin-right: calc(var(--space) * 1);
}
body .mt1 {
  margin-top: calc(var(--space) * 1);
}
body .mb1 {
  margin-bottom: calc(var(--space) * 1);
}
body .mr1 {
  margin-right: calc(var(--space) * 1);
}
body .ml1 {
  margin-left: calc(var(--space) * 1);
}

body .p2 {
  padding: calc(var(--space) * 2);
}
body .pt2 {
  padding-top: calc(var(--space) * 2);
}
body .pb2 {
  padding-bottom: calc(var(--space) * 2);
}
body .px2 {
  padding-left: calc(var(--space) * 2);
  padding-right: calc(var(--space) * 2);
}
body .py2 {
  padding-top: calc(var(--space) * 2);
  padding-bottom: calc(var(--space) * 2);
}
body .my2 {
  margin-top: calc(var(--space) * 2);
  margin-bottom: calc(var(--space) * 2);
}
body .m2 {
  margin: calc(var(--space) * 2);
}
body .mx2 {
  margin-left: calc(var(--space) * 2);
  margin-right: calc(var(--space) * 2);
}
body .mt2 {
  margin-top: calc(var(--space) * 2);
}
body .mb2 {
  margin-bottom: calc(var(--space) * 2);
}
body .mr2 {
  margin-right: calc(var(--space) * 2);
}
body .ml2 {
  margin-left: calc(var(--space) * 2);
}

body .p3 {
  padding: calc(var(--space) * 3);
}
body .pt3 {
  padding-top: calc(var(--space) * 3);
}
body .pb3 {
  padding-bottom: calc(var(--space) * 3);
}
body .px3 {
  padding-left: calc(var(--space) * 3);
  padding-right: calc(var(--space) * 3);
}
body .py3 {
  padding-top: calc(var(--space) * 3);
  padding-bottom: calc(var(--space) * 3);
}
body .my3 {
  margin-top: calc(var(--space) * 3);
  margin-bottom: calc(var(--space) * 3);
}
body .m3 {
  margin: calc(var(--space) * 3);
}
body .mx3 {
  margin-left: calc(var(--space) * 3);
  margin-right: calc(var(--space) * 3);
}
body .mt3 {
  margin-top: calc(var(--space) * 3);
}
body .mb3 {
  margin-bottom: calc(var(--space) * 3);
}
body .mr3 {
  margin-right: calc(var(--space) * 3);
}
body .ml3 {
  margin-left: calc(var(--space) * 3);
}

body .p4 {
  padding: calc(var(--space) * 4);
}
body .pt4 {
  padding-top: calc(var(--space) * 4);
}
body .pb4 {
  padding-bottom: calc(var(--space) * 4);
}
body .px4 {
  padding-left: calc(var(--space) * 4);
  padding-right: calc(var(--space) * 4);
}
body .py4 {
  padding-top: calc(var(--space) * 4);
  padding-bottom: calc(var(--space) * 4);
}
body .my4 {
  margin-top: calc(var(--space) * 4);
  margin-bottom: calc(var(--space) * 4);
}
body .m4 {
  margin: calc(var(--space) * 4);
}
body .mx4 {
  margin-left: calc(var(--space) * 4);
  margin-right: calc(var(--space) * 4);
}
body .mt4 {
  margin-top: calc(var(--space) * 4);
}
body .mb4 {
  margin-bottom: calc(var(--space) * 4);
}
body .mr4 {
  margin-right: calc(var(--space) * 4);
}
body .ml4 {
  margin-left: calc(var(--space) * 4);
}

body .p5 {
  padding: calc(var(--space) * 5);
}
body .pt5 {
  padding-top: calc(var(--space) * 5);
}
body .pb5 {
  padding-bottom: calc(var(--space) * 5);
}
body .px5 {
  padding-left: calc(var(--space) * 5);
  padding-right: calc(var(--space) * 5);
}
body .py5 {
  padding-top: calc(var(--space) * 5);
  padding-bottom: calc(var(--space) * 5);
}
body .my5 {
  margin-top: calc(var(--space) * 5);
  margin-bottom: calc(var(--space) * 5);
}
body .m5 {
  margin: calc(var(--space) * 5);
}
body .mx5 {
  margin-left: calc(var(--space) * 5);
  margin-right: calc(var(--space) * 5);
}
body .mt5 {
  margin-top: calc(var(--space) * 5);
}
body .mb5 {
  margin-bottom: calc(var(--space) * 5);
}
body .mr5 {
  margin-right: calc(var(--space) * 5);
}
body .ml5 {
  margin-left: calc(var(--space) * 5);
}

@media (min-width: 775px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 775px) {
  .mobile-hidden {
    display: none;
  }
}

body {
  font-family: var(--font);
  font-size: 16px;
  color: var(--text);
  line-height: 1.4;
  background: var(--bg-light);
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

body.dark {
  background: var(--bg-dark);
}

::selection {
  background: var(--primary_o);
  color: var(--bright-text);
}

#pre-loader.active {
  background: var(--bg-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
@media (max-width: 600px) {
  #pre-loader.active h1 {
    margin-left: calc(var(--space) * 2);
  }
}

#pre-loader.active .loader {
  width: 70px;
  height: 70px;
  position: relative;
  border-radius: 50%;
  border: 7px solid var(--border);
}
#pre-loader.active .loader::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  right: -7px;
  bottom: -7px;
  width: 70px;
  height: 70px;
  border: 7px solid transparent;
  border-top-color: var(--primary_b);
  border-radius: 50%;
  animation: loaderSpin 1s linear infinite;
}
@media (max-width: 600px) {
  #pre-loader.active .loader {
    width: 40px;
    height: 40px;
    border: 4px solid var(--border);
  }
  #pre-loader.active .loader::after {
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    width: 40px;
    height: 40px;
    border: 4px solid transparent;
    border-top-color: var(--primary_b);
  }
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  position: relative;
  line-height: 1;
  padding-top: calc(6 * var(--space));
  padding-bottom: calc(6 * var(--space));
  z-index: 100;
  background: var(--bg-light);
}

.header a, .header button, .header__logout svg {
  font-family: var(--font-semi);
}
.header a:hover, .header button:hover, .header__logout svg:hover {
  color: var(--primary_b);
}
.header a:hover svg, .header button:hover svg, .header__logout svg:hover svg {
  fill: var(--primary_b);
}

.header svg {
  width: 16px;
  height: 16px;
  margin-right: calc(1 * var(--space));
  transition: 0.3s;
  fill: var(--text);
}

.header__home {
  display: flex;
  height: 26px;
  border-right: 1px solid var(--border);
  margin-right: calc(2 * var(--space));
  padding-right: calc(1 * var(--space));
}
.header__home, .header__home + li {
  margin-left: 0 !important;
}

.header__search, .header__logout, .header__home {
  height: 16px;
  align-items: center;
  justify-content: flex-start;
  padding-right: calc(1 * var(--space));
  border-right: 1px solid var(--border);
}

.header__burger {
  margin-left: calc(1 * var(--space));
}

.header__burger button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.header__burger span {
  font-size: 0;
  text-indent: -3000px;
}
.header__burger span::before {
  bottom: -6px;
}
.header__burger span::after {
  top: -8px;
}

.header__burger span, .header__burger span::before, .header__burger span::after {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background: currentColor;
  position: relative;
}

.header__burger span::before, .header__burger span::after {
  transition: 0.3s;
}

.header ul, .header-nav li {
  display: flex;
  align-items: center;
}

.header-nav {
  height: 26px;
  margin-top: -5px;
  margin-bottom: -5px;
  flex-wrap: wrap;
  overflow: hidden;
}

.header-nav li {
  height: 26px;
  white-space: nowrap;
  margin-left: calc(6 * var(--space));
}

.header-side {
  margin-right: calc(-1 * var(--space));
  margin-left: var(--space);
}

.header-side li {
  margin-right: var(--space);
}

.header.is-open .header-nav {
  position: fixed;
  grid-gap: calc(3 * var(--gap));
  justify-items: center;
  align-content: center;
  padding: calc(2 * var(--space));
  background: rgba(26, 31, 66, 0.9450980392);
  border: 1px solid var(--border);
  border-radius: 3px;
  box-shadow: 0 2px 4px var(--shadow);
  transition: opacity 0.3s;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.header.is-open .header-nav li {
  display: block;
  width: 200px;
  margin-left: 0;
}

.header.is-open .header-nav a {
  font-size: 25px;
}

.header.is-open .header-side {
  position: fixed;
  top: calc(3 * var(--space));
  right: calc(2 * var(--space));
  z-index: 150;
}

.header.is-open .header-nav .header__home {
  display: none;
}

@media (min-width: 700px) {
  #js-burger {
    display: none;
  }

  .header-side .header__search, .header-side .header__logout {
    border-right: none;
    padding: 0;
    margin: 0;
  }
}
.header-admin {
  background: var(--bg-dark);
  border-bottom: 1px solid var(--border);
}

.burger-span {
  background: transparent !important;
}
.burger-span::before {
  transform: translate(0, -5px) rotate(45deg);
}
.burger-span::after {
  transform: translate(0, 7px) rotate(-45deg);
}

.triangle-shape {
  width: 100%;
  height: 90px;
  top: 120px;
  left: 0;
  background-color: var(--bg-light);
  clip-path: polygon(0 0, 100% 90%, 100% 0);
}

.btn, .btn-alert-success, .btn-alert, .btn-secondary, .btn-card, .btn-primary-outline, .btn-primary {
  text-decoration: none !important;
  padding: 0.5em 0.8em;
  border: none;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(36, 57, 141, 0.4);
  border-radius: 4px;
  line-height: 1.6;
  font-family: var(--inter-semi);
  color: var(--bright-text);
  cursor: pointer;
  transition: filter 0.3s, background 0.3s, color 0.3s;
  font-size: 0.9em;
  filter: brightness(1);
  white-space: nowrap;
  width: fit-content;
}
.btn:hover, .btn-alert-success:hover, .btn-alert:hover, .btn-secondary:hover, .btn-card:hover, .btn-primary-outline:hover, .btn-primary:hover {
  filter: brightness(1.2);
}

.btn-primary {
  background: var(--primary_b);
  border: 1px solid var(--primary_b25);
}

.btn-primary-outline {
  border: 1px solid var(--primary_b);
  color: var(--primary_b);
  box-shadow: none;
}
.btn-primary-outline:hover {
  filter: none;
  background: var(--primary_b);
  color: var(--bright-text);
}

.btn-card {
  background: var(--bg-card);
  border: 1px solid var(--border);
}
.btn-card:hover {
  background: var(--primary_b);
  filter: none;
}

.btn-secondary {
  background: #323d70;
  border: 1px solid #323d70;
}

.btn-alert {
  background: var(--alert);
  border: var(--alert);
}

.btn-alert-success {
  background: var(--success);
  border: var(--success);
}

.post-listing .admin-card, .card--category::before, .card--category::after, .card, .form-card > form, .card--category {
  background: var(--bg-card);
  border: 1px solid var(--border);
  border-radius: 3px;
  box-shadow: 0 2px 4px var(--shadow);
  transition: 0.3s;
}

.card, .form-card > form, .card--category {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__body {
  padding: calc(var(--space) * 2.3);
}

.card__footer {
  min-height: 36px;
  margin-top: auto;
  padding: 0.7rem calc(var(--space) * 2.3);
  background: var(--bg-card-footer);
  font-size: 0.9rem;
  border-top: 2px solid var(--primary_b);
}

.card__svg {
  width: 16px;
}

.card__title {
  font-family: var(--font-semi);
  line-height: 1.3;
  font-size: 16px;
}

.card__description p {
  color: var(--muted-text);
}

.card a, .form-card > form a, .card--category a {
  position: relative;
  z-index: 3;
}

.card__link {
  display: block;
  position: absolute !important;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  z-index: 2 !important;
  transition: 0.3s;
  cursor: pointer;
}
.card__link:hover {
  border: 1px solid var(--primary_b);
}

.footer-links > a:first-child {
  display: inline-block;
  margin-bottom: 2rem;
}
@media (min-width: 380px) {
  .footer-links {
    display: inline-flex;
    width: 100%;
    margin: 1rem 0;
  }
}

.alert-success, .alert-danger {
  color: var(--bright-text);
  padding: 1em;
  margin: 2rem 0;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
}

.alert-danger {
  background: var(--alert25);
  border: 1px solid var(--alert);
}

.alert-success {
  background: var(--success25);
  border: 1px solid var(--success);
}

.form-group > .alert-danger {
  display: none;
}

.form-group > .is_invalid {
  display: block;
  margin-bottom: 1em;
  margin-top: 0;
}

form {
  gap: calc(var(--gap) * 2);
}

label {
  color: var(--bright-text);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

input, textarea, select {
  background: var(--bg-dark);
  padding: 0.8em;
  border: 1px solid var(--border);
  border-radius: 3px;
  color: var(--text);
  display: block;
  width: 100%;
  outline: 0;
  min-height: 48px;
}

textarea {
  min-height: 300px;
}

select {
  min-height: 150px;
}

input:focus {
  border-color: var(--primary_b);
  box-shadow: 0 0 0 3px var(--primary_b25);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-card {
  margin-top: calc(var(--space-section) / 2);
  max-width: 450px;
  flex-direction: column;
}

.form-card > form {
  padding: calc(var(--card-padding) * 1.3);
}

.form-card__title {
  font-family: var(--font-semi);
  margin-bottom: 2rem;
}

.theme-switcher {
  display: inline-block;
}

.form-switch {
  position: relative;
  cursor: pointer;
}

.form-switch input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  min-height: auto;
}

.form-switch label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin-bottom: 0 !important;
}

.label {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.85em;
}

input:checked + label .switch {
  background: var(--primary_b);
}

.theme-switcher input:checked + label .switch {
  background: var(--bg-dark) !important;
}

.switch {
  flex: none;
  width: 55px;
  height: 26px;
  display: inline-block;
  background: var(--bg-dark);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  margin-right: calc(1 * var(--space));
  transition: background 0.3s;
}

.switch::before {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  background: var(--background-light);
  border: 1px solid var(--border);
  box-shadow: 0 1px 4px rgba(213, 222, 233, 0.2);
  border-radius: 100px;
  transition: transform 0.3s;
}

.theme-switcher input:checked + label .switch::before {
  background: var(--primary_b) !important;
}

input:checked + label .switch::before {
  transform: translateX(31px);
}

.container-404 {
  background: var(--bg-dark);
  padding: calc(var(--gap) * 2);
  margin-top: calc(var(--space-section) / 2);
  border-radius: 8px;
}
@media (min-width: 1000px) {
  .container-404 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.mascott-404 svg {
  max-width: 500px;
  width: 100%;
  margin-bottom: 2rem;
}

.div-404 h1 {
  color: var(--alert);
}
@media (min-width: 1000px) {
  .div-404 {
    margin-left: calc(var(--gap) * 2);
  }
}

.banner {
  width: 100%;
  height: 128px;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: 100%;
}
@media (min-width: 775px) {
  .banner {
    width: 100%;
    height: 496px;
    background: url(../img/banner.jpg);
    background-size: 2433px 496px;
    margin-top: calc(-1 * var(--space-section) * 0.8);
  }
}

.home-little-grid {
  margin-bottom: calc(var(--space-section) / 2.5);
}
@media (min-width: 775px) {
  .home-little-grid {
    display: grid;
    grid-template-columns: 1fr 0.03fr 0.7fr;
    grid-template-rows: repeat(20, 0.1fr);
    margin-top: calc(-1 * var(--gap) * 4.3);
  }
}

.home-little-grid > div {
  justify-content: center;
  margin-top: calc(var(--gap) * 3);
  padding: calc(var(--gap) * 1.3);
}
@media (min-width: 775px) {
  .home-little-grid > div {
    margin-top: 0;
    display: flex;
  }
}

@media (min-width: 775px) {
  .home-card-little {
    padding-left: calc(var(--gap) * 2);
  }

  .home-card-big {
    grid-column: 1/3;
    grid-row: 1/14;
    z-index: 10;
  }

  .home-card-little {
    grid-column: 2/4;
    grid-row: 7/17;
  }

  .welcome-mascott {
    position: absolute;
    top: 322.5px;
    left: -120px;
    width: 500px;
    z-index: -25;
    transform: rotate(10deg);
  }
}
section.event {
  position: relative;
  z-index: 0;
}

section.event .category_svg {
  width: 26px;
  height: auto;
}

.big-grid-event {
  margin: calc(var(--space-section) / 3.5) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: var(--gap);
}

.event-card p {
  margin: var(--gap) 0;
}

.card--category::before, .card--category::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.3s;
}

.card--category::before {
  transform: translate(0px, 0px);
}

.card--category::after {
  transform: translate(6px, 6px);
}

.card--category:hover::before {
  opacity: 1;
  transform: translate(0, 0) rotate(-3deg);
}
.card--category:hover::after {
  transform: translate(6px, 6px) rotate(3deg);
}

.article__header {
  margin-bottom: 3rem;
}

.article li {
  list-style-type: circle;
}

.post-listing__header, .post-listing__body > div {
  margin-bottom: var(--space);
  padding: 1rem;
}
@media (min-width: 1225px) {
  .post-listing__header, .post-listing__body > div {
    display: grid;
    grid-template-columns: 50px 4fr 1fr !important;
    grid-template-rows: 1fr;
    align-items: center;
  }
}

.post-listing__header {
  padding: 1rem 0;
}
.post-listing__header h3 {
  display: none;
}
@media (min-width: 1225px) {
  .post-listing__header {
    padding: 1rem;
  }
  .post-listing__header h3 {
    display: block;
  }
}

.post-listing .admin-card__option a:first-child {
  display: inline-block;
  margin-right: 1rem;
}

.lock_svg {
  width: 26px;
  height: auto;
}

.guide {
  margin-top: calc(var(--space-section) / 3);
  gap: calc(2 * var(--gap));
}

.guide-control__content {
  background: var(--bg-dark);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.guide-control__content--code {
  border: 1px solid var(--border);
  padding: 0;
}

.guide-control__content ul.list-circle {
  list-style-type: disc;
}

/*# sourceMappingURL=style.css.map */
