.article {
  @extend .big-section;
  @extend .stack;
}

.article__header {
  margin-bottom: 3rem;
}

.article__content {
  @extend .stack;
}

.article li {
  list-style-type: circle;
  list-style-position: inside;
}

.article a {
  color: var(--primary_b);
  &:hover {
    text-decoration: underline;
  }
}

.article h1 {
  @extend .big-title;
}

.article h2 {
  @extend .section-title;
}

.article h3 {
  @extend .medium-title;
}

.blur-img {
  overflow: hidden;
  background: url(/img/loading.svg) no-repeat center;
}

img.lazy {
  filter: blur(25px)!important;
}


.carroussel-container {
  @extend %container-margin;
  background: var(--bg-light);
  padding:2rem;
  border-radius: 8px;
}

.slick-slider {
  min-width: 100%;
}

.slick-next {
  background: blue;
}
