.article {
  @extend .big-section;
  @extend .stack;
}

.article__header {
  margin-bottom: 3rem;
}

.article__content {
  @extend .stack;
}

.article li {
  list-style-type: circle;
  list-style-position: inside;
}

.article a {
  color: var(--primary_b);
  &:hover {
    text-decoration: underline;
  }
}

.article h1 {
  @extend .big-title;
}

.article h2 {
  @extend .section-title;
}

.article h3 {
  @extend .medium-title;
}

.blur-img {
  min-height:180px;
  overflow: hidden;
  background: url(/img/loading.svg) no-repeat center;
  margin: auto 0;
}

img.lazy {
  max-width:100% ;
  filter: blur(25px)!important;
  //opacity: 0.9;
}