.article {
  @extend .big-section;
  @extend .stack;
  padding-top:calc(var(--space-section) / 4) ;
}

.article__content {
  @extend .stack;
}

.article li {
  list-style-type: circle;
  list-style-position: inside;
}

.article a {
  color: var(--primary_b);
  &:hover {
    text-decoration: underline;
  }
}

.article h1 {
  @extend .big-title;
}

.article h2 {
  @extend .section-title;
}

.article h3 {
  @extend .medium-title;
}

.article__button {
  justify-self: flex-end;
}

.blur-img {
  overflow: hidden;
}

img.lazy {
  filter: blur(25px)!important;
  opacity: 0;
}

.carroussel-container {
  @extend %container-margin;
  max-width: 650px; // image size + 150px
  display: flex!important;
  justify-content: center;
  align-items: center;
  padding:.5rem;
  background: var(--bg-light);
  border-radius: 8px;
}

.slick-track
{
  display: flex!important;
  align-items: center;
}

@include down(550) {
  .carroussel-container {
    margin: 0;
    width: 100%;
  }
  .slick-next.slick-arrow, .slick-prev.slick-arrow {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
  @extend .btn-primary;
}

.slick-next {
  margin-left: 2rem;
}

.slick-prev {
  margin-right: 2rem;
}