.container-404 {
  @extend %container-margin;
  background: var(--bg-dark);
  padding: calc(var(--gap) * 2);
  margin-top: calc(var(--space-section) / 2);
  border-radius: 8px;

  @include up(1000) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }
}

.mascott-404 svg {
  max-width: 500px;
  width: 100%;
  margin-bottom: 2rem;
}

.div-404 {
  h1 {
    color: var(--alert);
  }
  @include up(1000) {
    margin-left: calc(var(--gap) * 2);
  }
}



