.guide {
  margin:var(--space) 0;
  gap: calc(2 * var(--gap));
}

.guide hr {
  width: 100%;
}

.guide, .guide-control, .guide-group {
  @extend .stack;
}

.guide h2 {
  @extend .section-title;
}

.guide-group h4 {
  font-family: var(--font-m);
}

.guide .guide-group hr {
  margin-top: -.5rem;
  margin-bottom: 0;
}

.summary-titles >li:nth-child(n+2):nth-last-child(n+2) {
  margin:1rem 0;
}

.guide-group ul, .guide-control__content ul.list-circle {
  list-style-type: disc;
  list-style-position: inside;
}

.guide-control__title {
  @extend .section-title;
}

.guide-control__content {
  background: var(--bg-dark);
  padding: 1rem 2rem;
  border-radius: 8px;
}

.guide-control__content--code {
  border: 1px solid var(--border);
  padding: 0;
}