.banner {
    width: 100%;
    height: 128px;
    background: url(../img/banner.jpg) no-repeat center ; 
    background-size:100%;
}

@include up(775) {
    .banner {
        width: 100%;
        height: 496px;
        background:  url(../img/banner.jpg); 
        background-size: 2433px 496px;
        margin-top: -120px;
    }
}

.home-little-grid {
    margin-bottom: $space-section;

    & > div {
        @extend %card;
        margin-top:$gap * 3;
    }
}

@include up(775) {
    .home-little-grid {
        display: grid;
        grid-template-columns: 1fr 0.03fr .7fr;
        grid-template-rows: minmax(200px, 1fr) minmax(185px, .9fr) minmax(45px, .2fr);
        margin-top: -($gap * 5);

        & > div {
            margin-top: 0;
            padding: $gap * 1.5;
            padding-top: $gap * .7;
        }

        .home-card-little {
            padding-left: $gap * 2;
        }
    }

    .home-card-big {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        z-index:10;
        h1 {
            margin-bottom: $gap * 2;
        }
    }
    
    .home-card-little{
        grid-column: 2 / 4;
        grid-row:2 / 4;
    }
}

section.event {
    border-top: 1px solid $silent-text;
    background: $bg-dark;
    padding-top: calc($space-section / 2);
    padding-bottom: calc($space-section / 2);
}

.big-grid-event {
    margin: calc($space-section / 2.5) 0;
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(325px, 1fr));
    gap: 60px;
}

.event-card {
    p {
        margin: $gap 0 ;
    }
}






