section.search-result {
  @extend .big-section;
}

.page-header {
  background: var(--bg-light);
  border-bottom: 1px solid var(--border);
  padding-bottom: calc(6 * var(--space));
  padding-top: calc(6 * var(--space));
}

.page-header > :first-child {
  margin-right: calc(4 * var(--space));
}

.search-header {
  h1 {
    flex:none;
  }
  @include up(850px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.search-header .search-container {
  display: block;
  margin-top: calc(2 * var(--space));
  max-width: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  background: none;
  @include up(850) {
    flex-grow: 1;
    margin-left: 70px;
    margin-top: 0;
  }
}

.search-header .search-container form {
  position: relative;
  top: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  background: none;
}

.search-header .search-container form input {
  padding-left: 55px;
}
