%alert {
  @extend %container-margin;
  color: var(--bright-text);
  padding: 1em;
  margin: 2rem 0;
  border-radius: 3px;
  font-size: 18px;
  width: 100%;
}

.alert-danger {
  @extend %alert;
  background: var(--alert25);
  border: 1px solid var(--alert);
}

.alert-success {
  @extend %alert;
  background: var(--success25);
  border: 1px solid var(--success);
}

.form-group > .alert-danger {
  display: none;
}

.form-group > .is_invalid {
  display: block;
  margin-bottom: 1em;
  margin-top: 0;
}
