.alert {
  @extend %container;
  color: var(--bright-text);
  padding: 1em;
  margin-top: 2rem;
  border-radius:3px;
  font-size: 18px;
}

.alert-danger {
  background: var(--alert25);
  border: 1px solid var(--alert);
}

.alert-success {
  background: var(--success25);
  border: 1px solid var(--success);
}