.btn, %btn {
    width: fit-content;
    padding: .5em 1em;
    border-radius: 3px;
    transition: all .3s ease-out;
}

.btn-primary, %btn-primary {
    background: var(--primary_b);
    border : 1px solid transparent;
    color: var(--bg-light);

    &:hover {
        background: none;
        border: 1px solid var(--primary_b);
        color: var(--primary_b);
    }
}

.btn-swap, %btn-swap {
    border: 1px solid var(--primary_b);
    color: var(--primary_b);

    &:hover {
        background: var(--primary_b);
        border: 1px solid transparent;
        color: var(--bg-light);
    }    
}

.btn-alert {
    background: var(--alert);
    border: 1px solid var(--alert);
    &:hover  {
        background:transparent;
        color: var(--alert);
    }
}