.btn, %btn {
    width: fit-content;
    padding: $space $space * 2.5;
    border-radius: 3px;
    transition: all .3s ease-out;
}

.btn-primary, %btn-primary {
    background: $primary_b;
    border : 1px solid transparent;
    color: $bg-light;

    &:hover {
        background: none;
        border: 1px solid $primary_b;
        color: $primary_b;
    }
}

.btn-swap, %btn-swap {
    border: 1px solid $primary_b;
    color: $primary_b;

    &:hover {
        background: $primary_b;
        border: 1px solid transparent;
        color: $bg-light;
    }    
}

.btn-alert {
    background: $alert;
    border: 1px solid $alert;
    &:hover  {
        background:transparent;
    }
}

button {
    cursor: pointer;
    font-size: inherit;
}