%card-design, .card-design {
    background:$bg-card;
    border: 1px solid $border;
    border-radius: 3px;
    box-shadow: $shadow;
}

.card, %card {
    @extend %card-design;
    @extend %flex;
    
    padding:$space * 2.3 ;
    animation: ease .4s card_animation;

    &__footer {
        padding-top:$space * 2.3;
    }

    &__title {
        font-weight: 700;
        color: $text;
    }
    &__content {
        color: $muted-text;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 100%;
    }
}

.card-exerpt {
    flex-direction : column;
    align-items:flex-end;
}

.stack, %stack {
    display:grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    grid-gap: 2 * $space;
}

@keyframes card_animation {
    from{
        transform: translate(0, -50px);
    }
    to {
        transform: translate(0, 0px);
    }
}
