%card-design, .card-design {
    background:var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 3px;
    box-shadow: var(--shadow);
}

.card, %card {
    @extend %card-design;
    @extend %flex;
    
    padding:calc(var(--space) * 2.3) ;

    &__footer {
        padding-top:calc(var(--space) * 2.3);
    }

    &__title {
        font-weight: 700;
        color: var(--text);
    }
    &__content {
        color: var(--muted-text);
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 100%;
    }
}

.card-exerpt {
    flex-direction : column;
    align-items:flex-end;
}

